<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>

        <link rel="manifest" href="manifest.json">

        <!-- un-comment this code to enable service worker
        <script>
          if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js')
              .then(() => console.log('service worker installed'))
              .catch(err => console.log('Error', err));
          }
        </script>-->


        <link href="css/style.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">


        <!--IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above-->
        <!--<link href="css/ionic.app.css" rel="stylesheet">-->
        <!--<link href="lib/ionic/css/ionic.css" rel="stylesheet">-->

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- your app's js -->
        <script src="js/app.js"></script>
        <script src="js/constants.js"></script>
        <script src="js/module/game.controller.js"></script>
        <!--<script src="js/module/game.factory.js"></script>-->
        <script src="js/component/game/game.directive.js"></script>
        
    </head>
    <body ng-app="starter" style="background: rgba(232, 198, 150, 0.55); text-align: center;">

            <div class="wrapper">
                <div class="ribbon-wrapper-green">
                    <div class="ribbon-green">RANK</div>
                </div>
            </div>

    <ion-content ng-controller="GameCtrl" scroll="false">
        <!--<h1 contenteditable="false"></h1>-->
        <div class="fita" style="width: 200px;">
            <div class="conteudo">Left to match: {{game.unmatchedPairs}}</div>
        </div>
        <table>
            <tr ng-repeat="row in game.grid">
                <td ng-repeat="tile in row" ng-click="game.flipTile(tile)">
                    <div class="container">
                        <div class="card" ng-class="{flipped: tile.flipped}">
                            <img class="front" ng-src="img/back.png">
                            <img class="back" ng-src="img/{{tile.title}}.png">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="fita">
            <div class="conteudo">{{game.message}}</div>
        </div>


        <!--<button id="myBtn">Open Modal</button>-->

        <!-- The Modal Sucess-->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content msg-modal">
                <!--<img src="img/congradulation.png" alt="" />-->
                <!--<span class="close">&times;</span>-->
                <p class="">Parabéns finalizado em: <br>32 sec. </p>
                <a href="#" id="button"  ng-click="click();" >
                    <span>Resetar!</span>
                </a>
            </div>
        </div>
        
        <!-- The Modal Sucess-->
        <div id="myModalStart" class="modal">
            <!-- Modal content -->
            <div class="modal-content msg-modal">
                <p class="">Deseja começar? </p>
                <a href="#" id="button"  ng-click="click();" >
                    <span>Começar!</span>
                </a>
            </div>
        </div>

        <audio preload="auto" id="audio">
            <source src="https://github.com/nclud/2011.beercamp.com/blob/gh-pages/audio/inception.mp3?raw=true" type="audio/mp3">
            <source src="https://github.com/nclud/2011.beercamp.com/blob/gh-pages/audio/inception.ogg?raw=true" type="audio/ogg">
        </audio>
    </ion-content>
    </body>
</html>
